{% extends 'main/base.html' %}

{% block title %}
Добавление фильма к просмотру
{% endblock %}

{% block header %}
Добавление фильма к просмотру
{% endblock %}

{% block body %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Имя фильма</label>
            {{ form.name }}
            <dib id="nameHelp", class="form-text"> ограничение 100 символов </dib>
        </div>
        <div class="mb-3">
            <label for="genre" class="form-label">Жанр фильма</label>
            {{ form.genre }}
            <dib id="genreHelp", class="form-text"> ограничение 100 символов </dib>
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Режисер фильма</label>
            {{ form.author }}
            <dib id="authorHelp", class="form-text"> ограничение 100 символов </dib>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Описание фильма</label>
            {{ form.description }}
            <dib id="descriptionHelp", class="form-text"> ограничение 100 символов </dib>
        </div>
        <button type="submit" name="add_film_in_db" class="btn btn-primary">Добавить</button>
    </form>

    <form method="post">
        {% csrf_token %}
        <div class="actions">
            <label>Action: <select name="action" required>
                <option value="" selected>---------</option>
                <option value="delete_selected">Удалить выделенные фильмы</option>
            </select></label><input type="hidden" name="select_across" value="0" class="select-across">
            <button type="submit" class="button" title="Run the selected action" name="selecter_action" value="0">Подтвердить</button>
        </div>
        {% if films %}
            </div>
            <div class="results">
                <table id="result_list" class="table">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Название фильма</th>
                        <th scope="col">Жанр</th>
                        <th scope="col">Режисер</th>
                        <th scope="col">Описание</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for film in films %}
                        <tr><td class="action-checkbox"><input type="checkbox" name="selected_films" value={{ film.id }} class="action-select">
                            <th scope="row" > {{ film.name }}</th>
                            <th scope="row" > {{ film.genre }}</th>
                            <th scope="row" > {{ film.author }}</th>
                            <th scope="row" > {{ film.description }}</th>
                            <th scope="row" > <button type="reset" class="btn btn-warning">Редактировать</button> </th>
                            </td>
                        </a></th></tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                <p> Вы еще не добавили ни одного фильма </p>
            </div>
        {% endif %}
    </form>

    <span class="current">
        Страница {{ films.number }} из {{ films.paginator.num_pages }}.
    </span>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if films.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ films.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ films.previous_page_number }}">{{ films.previous_page_number }}</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            <li class="page-item active">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>

            {% if films.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ films.next_page_number }}">{{ films.next_page_number }}</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ films.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>

            {% else %}
               <li class="page-item disabled">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endblock %}